---
layout: default
title: Index
---

<h1>myubi</h1>

<p>Welcome to my small website. This is meant to store various art projects along with writings.</p>
<hr>
<h2>Latest Posts:</h2><ul>
    {% for post in site.posts %}
      <li>
        <a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a> - <small>({{ post.date | date: "%b %d, %Y" }})</small>
      </li>
    {% endfor %}
  </ul>
  <hr>
  <h2>Tags:</h2>
      {% for tags in site.tags %}
          <a href="{{site.baseurl}}{{ tags.url }}">#{{ tags.name }}</a>
      {% endfor %}
  <hr>
