<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
    <link rel="shortcut icon" type="image/png" href="favicon.ico">

  </head>
  <body>
    <nav>
      <a href="{{site.baseurl}}/">Home</a> /
      <a href="{{site.baseurl}}/about">About</a>
    </nav>
  </div>
    <hr>
    <main class="content">

    {{ content }}
    </main>
  </div>
  </body>

  <footer>
    <p>(made with 🤍 by <a href="{{site.baseurl}}/about">mel</a>)</p>
  </footer>
</html>